#Left_Pane {
    -fx-background-color : rgba(34, 3, 63, 0.993) ;
}

#Main_Page {
    -fx-background-color : rgba(207, 207, 252, 0.993) ;
}
#Underline {
    -fx-background-color : rgba(0, 0, 0, 0.993) ;
}

#Back {
    -fx-background-color : rgb(255, 136, 0) ;
}
#Pane5 {
    -fx-background-color : rgba(4, 6, 39, 0.993) ;
}

#Pane6 {

    -fx-background-color : rgba(34, 3, 63, 0.993) ;
}

#Pane7 {

    -fx-background-color : rgba(34, 3, 63, 0.993) ;
}

#Pane8 {

    -fx-background-color : rgba(34, 3, 63, 0.993) ;
}

#Pane9 {

    -fx-background-color : rgba(34, 3, 63, 0.993) ;
}

#Mini_Pane {

    -fx-background-color : rgba(3, 6, 32, 0.993) ;
}

#Add_Members {

    -fx-background-color : rgba(34, 3, 63, 0.993) ;
}

#Remove_Member{

    -fx-background-color : rgba(34, 3, 63, 0.993) ;

}

#Check_Data {
    
    -fx-background-color : rgba(34, 3, 63, 0.993) ;
}
#Check_Aircrafts{

    -fx-background-color : rgba(34, 3, 63, 0.993) ;

}
#Checking_Flights {

    -fx-background-color : rgba(34, 3, 63, 0.993) ;
}

#Scroll_Pane {

    -fx-background-color : rgba(3, 9, 63, 0.993) ;
}

