#Left_Pane { -fx-background-color : rgba(34, 3, 63, 0.993) ;}

#Main_Page { -fx-background-color : rgba(207, 207, 252, 0.993) ;}

#Dashboard { -fx-background-color : rgba(34, 3, 63, 0.993) ;}

#Back { -fx-background-color : rgb(255, 136, 0) ;}

#below_Left_Pane { -fx-background-color : rgb(39, 26, 77) ;}

#Help { -fx-background-color : rgba(34, 3, 63, 0.993) ;}

#Report { -fx-background-color : rgba(34, 3, 63, 0.993) ;}

#Moving_Pane { -fx-background-color : rgba(34, 3, 63, 0.993) ;}

#Sign_In { -fx-background-color : rgba(34, 3, 63, 0.993) ;}

#Login { -fx-background-color : rgba(34, 3, 63, 0.993) ;}

#My_Accounts { -fx-background-color : rgba(34, 3, 63, 0.993) ;}

#Logout { -fx-background-color : rgba(34, 3, 63, 0.993) ;}

#Pane1 { -fx-background-color : rgba(34, 3, 63, 0.993) ;}

#Profile { -fx-background-color : rgba(34, 3, 63, 0.993) ;}

#Search {-fx-background-color : rgba(34, 3, 63, 0.993) ;}

#Pennding {-fx-background-color : rgba(34, 3, 63, 0.993) ;}